*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #10313A;
    padding: 10px;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}

.navbar ul.left {
    justify-content: flex-start;
}

.navbar ul.center {
    justify-content: center;
    flex-grow: 1;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #0a2328;
    border-radius: 5px;
}

.navbar a.active {
    background-color: #0a2328;
    color: yellow;
    border-radius   :5px;
}

.sellicon {
    width: 16px;
    height: 16px; 
    fill: white;
    vertical-align: middle;
}

.sellicon a.active {
    background-color: yellow;
}
.drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    width: 65px;
    
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0;
   
}